

body{
    height: 100vh;
    margin: 0;
}
.todo{
    display:flex;
    justify-content: center;
    margin: 1em;
    
    
}
.bienvenido {
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    width:60%;
    
    
   
}

h1 {
    color: #333;
    margin-bottom: 1em;
}

img {
    width:50%;
    height: 50%;
    margin-bottom: 1em;
   
}
img:hover{
    cursor:pointer;
}

.bienvenido button{
    margin-top: 1em;
    background-color: #176B87;
    color:white;
  font-size: x-large;
}
.bienvenido button:hover{
    cursor: pointer;
    border-color: #176B87;

}


.botones{
   margin-top:2em;
   
   width:10%;
  display: none;
  
    
}

.botones button{
 
    width: 100%;
    height: 6.5em;
    border-color: #64CCC5 ;
   margin-bottom: 1em;

  
}
.botones button:hover{
    /* background-color:#DAFFFB ; */
    background-color: #64CCC5;    
}